<html>
<title>Ansible-Vagrant Demo</title>
<style>.block {text-align: center;margin-bottom:10px;}.block:before {content: '';display: inline-block;height: 100%;vertical-align: middle;margin-right: -0.25em;}.centered {display: inline-block;vertical-align: middle;width: 300px;}</style>
<body>
<div class="block" style="height: 99%;">
    <div class="centered">
        <h1>Hello World</h1>
        <h1>Served by {{ ansible_hostname }}.</h1>
    </div>
</div>
</body>
</html>
